{% extends "elearning/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'elearning/js/addquestion.js' %}"></script>
{% endblock %}
{% block title %}Add Question{% endblock %}

{% block main %}
{% if message %}
<div>
    <h1 style="color: red;">{{ message }}</h1>
</div>
{% else %}
<h2>Add Assignment</h2>
<div class="table-responsive" id="table-responsive"></div>
<form class="addcourse" action="{% url 'addassigne' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="course_id"> Select Course</label>
    <select name="course" id="course_id" required>
        <option value="" selected> Select Course</option>
        {% for c in courses %}
        <option value="{{c.course_id}}">{{c.course_title}}</option>
        {% endfor %}
    </select>
    <label for="lecture_id"> Select Lecture</label>
    <select name="lecture" id="lecture_id" required>
    </select>
    {{ form.as_table }}
    <input type="submit" value="Add Assignment" class="btn btn-primary">
</form>
{% endif %}
{% endblock %}