{% extends "elearning/base.html" %}
{% load static %}

{% block title %}Edit Lecture{% endblock %}

{% block main %}
{% if message %}
<div>
    <h1 style="color: red;">{{ message }}</h1>
</div>
{% else %}
<h2>Edit Lecture / {{lid}}</h2>
<div class="table-responsive" id="table-responsive">

</div>
<form class="addcourse" action="{% url 'editlecture' cid lid %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Edit This Lecutre" class="btn btn-primary">
</form>
{% endif %}
{% endblock %}