{% extends "elearning/base.html" %}
{% load static %}
{% block script %}
{% endblock %}
{% block title %}Edit Course{% endblock %}

{% block main %}
{% if message %}
<div>
    <h1 style="color: red;">{{ message }}</h1>
</div>
{% else %}
<h2>Edit Course Details</h2>
<form class="addcourse" action="{% url 'editcourse' id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Edit Course" class="btn btn-primary">
</form>
{% endif %}
{% endblock %}